@model Users
@{
    Layout = "_Layout";
}


    <div class="container mt-2">
        <form asp-action="Add" asp-controller="Users" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" asp-for="Username" class="form-control" />

                <label>Password</label>
                <input type="password" asp-for="Password" class="form-control" />

                <label>Name</label>
                <input type="text" asp-for="Name" class="form-control" />

                <label>Surname</label>
                <input type="text" asp-for="Surname" class="form-control" />

                <label>Text</label>
                <input type="text" asp-for="Text" class="form-control" />


            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </form>
    </div>
