@model List<Users>
@{
    Layout = "_Layout";
}

    
    <section class="section">
        <div class="container">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-12 mb-100">
                        <article data-file="articles/b.html" data-target="article" class="article-full-width">
                            <div class="post-image">
                                <img class="img-fluid" src="~/lib/images/masonary-post/post-2.jpg" alt="post-thumb">
                            </div>
                            <div class="post-content">
                                <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
                                    <li class="list-inline-item"><i class="ti-calendar mr-2"></i>June 2, 2018</li>
                                    <li class="list-inline-item"><i class="ti-alarm-clock mr-2"></i><span class="eta">8 min</span> read</li>
                                </ul>
                                <h4 class="mb-4">
                                   @item.Name @item.Surname
                                </h4>
                                <p class="mb-0 post-summary">
                                   @item.Text
                                </p>
                                <a class="btn btn-transparent mb-4" asp-controller="Home" asp-action="Detail" asp-route-id="@item.UserId">Ayrıntı...</a>
                            </div>
                        </article>
                    </div>

                </div>
            }
            </div>
    </section>
  
