@model Users

@{ Layout = null; }


<link href="~/lib/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form asp-action="Login" method="post">

       
        <div style="margin-top:10%">
            <div class="mb-3">
                <label class="form-label">Kullanıcı Adı</label>
                <input class="form-control" type="text" placeholder="Kullanıcı Adınızı Giriniz:" asp-for="Username" name="Username">

            </div>
            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input class="form-control" type="password" placeholder="Şifrenizi Giriniz:" asp-for="Password" name="Password">
            </div>

            <button type="submit" class="btn btn-primary">Giriş Yap</button>


        </div>
        

    </form>
</div>
